body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
    width: 100%;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}


.header {
    height: 100px;
    width: 100%;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(196, 196, 196);
    background-color: rgb(57, 224, 224);
}

.Logo {
    height: 99px;
}

.Login {
    height: 100%;
    width: 100%;
}

.body_login {
    height: 100%;
    width: 100%;
}

.main {
    width: 100%;
    min-height: 50px;
    height: 100%;
    bottom: 0;
    position: relative;
}

.Heading {
    position: absolute;
    font-size: large;
    top: 0;
    left: 0;
    right: 0;
}

.Campus {
    width: 100%;
    height: 100%;
    -webkit-filter: blur(8px);
    filter: blur(8px);
}

.Login {
    position: absolute;
    left: 0;
    right: 0;
    top: 100px;
    bottom: 0;
}

.user {
    width: 40px;
    border-radius: 20px;
}

.profile_pic {
    display: inline-block;
}

.root {
    width: 100%;
    height: 100%;
}

.about {
    vertical-align: top;
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px;
}